---
---

@import "utility";

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1px);

html, body {
  margin: 0;
  min-height: 100%;
}

body {
  background-image: url(../img/background.png);
  font-family: "Hiragino Kaku Gothic ProN", "游ゴシック Medium", meiryo, arial, sans-serif;

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.container {
  padding-bottom: 0;

  @media (min-width: $screen-sm-min) {
    width: 925px;
  }
}

#main {
  background: #fff;

  @media (min-width: $screen-sm-min) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    min-height: 100%;
  }
}

#header {
  background: #eee;
  border-bottom: 1px solid #ddd;
  height: 90px;

  p {
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-align: left;
    text-indent: 10px;

    a {
      color: #694;
      text-decoration: none;
    }

    img {
      margin: 20px;
      padding-bottom: 10px;
    }
  }
}

#content {
  a {
    text-decoration: none;

    &:link {
      color: #588f3d;
    }

    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: #456336;
    }
  }

  @media (min-width: $screen-sm-min) {
    min-height: 100%;
  }
}

#menu_title,
#article_title {
  font-size: 145%;
  font-weight: bold;
}

#menu {
  padding-bottom: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

#article {
  padding-bottom: 15px;
  padding-top: 15px;

  @media (min-width: $screen-sm-min) {
    border-left: 1px solid #ccc;
    min-height: 100%;
    padding-left: 15px;
  }
}

#footer {
  background: #333;
  bottom: 0;
  color: #999;
  padding: 15px 0;
  text-align: center;
}
