.container {
  max-width: 925px;
}

#main {
  min-height: 100%;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

#menu {
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

#footer {
  background-color: hsl(0, 0, 18%);
  color: hsl(0, 0, 60%);
  text-align: center;
  padding: 3rem 0;
  margin-top: 3rem;
}
