.container {
  max-width: 925px;
}

#main {
  min-height: 100%;
  border-left: 1px solid #CCC;
  border-right: 1px solid #CCC;
  margin-bottom: 3rem;
}

#header {
  background-color: #ccc;
  text-align: center;
  padding: 3rem 0;
}

#header a {
  color: #fff;
}

#menu {
  border-bottom: 1px solid #CCC;
  border-right: 1px solid #CCC;
}

#footer {
  background-color: #ccc;
  bottom: 0;
  color: #fff;
  text-align: center;
  padding: 3rem 0;
}
