---
---

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1px);

$header-height: 90px;
$footer-height: 50px;

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(background.png);
  font-family: "Hiragino Kaku Gothic ProN", "游ゴシック Medium", meiryo, arial, sans-serif;

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

.container {
  padding-bottom: 0;
}

.carousel-control.left, .carousel-control.right {
  background-image: none;
}

#main {
  background: #fff;

  @media (min-width: $screen-sm-min) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    min-height: 100vh;
  }
}

#header {
  background: #eee;
  border-bottom: 1px solid #ddd;
  height: $header-height;

  p {
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    text-align: left;
    text-indent: 10px;

    a {
      color: #694;
      text-decoration: none;
    }

    img {
      margin: 20px;
      padding-bottom: 10px;
    }
  }
}

#content {
  a {
    text-decoration: none;

    &:link {
      color: #588f3d;
    }

    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: #456336;
    }
  }
}

#menu_title,
#article_title {
  font-size: 145%;
  font-weight: bold;
}

#menu {
  padding-bottom: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

#article {
  padding-bottom: 15px;
  padding-top: 15px;

  @media (min-width: $screen-sm-min) {
    border-left: 1px solid #ccc;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
    padding-left: 15px;
  }
}

#footer {
  background: #333;
  bottom: 0;
  color: #999;
  height: $footer-height;
  padding: 15px 0;
  text-align: center;
  line-height: $footer-height;
}
