---
---

$border-color: #ccc;
$header-height: 90px;
$footer-height: 50px;
$contents-padding: 20px;

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1px);

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(background.png);
  font-family: "Hiragino Kaku Gothic ProN", "Helvetica Neue", meiryo, arial, sans-serif;

  // Mobile
  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

#main {
  background-color: #fff;

  // Tablet ~ Desktop
  @media (min-width: $screen-sm-min) {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    min-height: 100vh;
  }
}

#header {
  background-color: #eee;
  border-bottom: 1px solid $border-color;
  font-size: 20px;
  font-weight: bold;
  height: $header-height;
  line-height: $header-height;
  text-align: left;
  text-indent: 10px;

  a {
    color: #694;
    text-decoration: none;
  }

  img {
    margin: 20px;
    padding-bottom: 10px;
  }
}

#content {
  letter-spacing: 0.5px;

  a {
    text-decoration: none;

    &:link {
      color: #588f3d;
    }

    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: #456336;
    }
  }

  h1 {
    border-bottom: 1px solid #ddd;
    font-size: 1.5em;
    font-weight: bold;
  }

  h2 {
    border-bottom: 1px dotted #ddd;
    font-size: 1.5em;
    font-weight: bold;
  }

  h3 {
    border-bottom: 1px dashed #ddd;
    font-size: 1.5em;
    font-weight: bold;
  }

  > div {
    padding: 0;
  }
}

#menu_title,
#article_title {
  font-size: 145%;
  font-weight: bold;
}

#menu {
  padding: $contents-padding;
}

#article {
  padding: $contents-padding;

  // Tablet ~ Desktop
  @media (min-width: $screen-sm-min) {
    border-left: 1px solid $border-color;
    min-height: calc(100vh - #{$header-height} - #{$footer-height});
  }
}

#footer {
  background-color: #333;
  border-top: 1px solid $border-color;
  color: #999;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
}
