---
---

$screen-sm-min: 768px;
$screen-xs-max: ($screen-sm-min - 1px);

$header-height: 90px;
$footer-height: 50px;
$article-height: calc(100vh - #{$header-height} - #{$footer-height});

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
       -o-box-sizing: border-box;
      -ms-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: url(background.png);
  font-family: "Hiragino Kaku Gothic ProN", "Helvetica Neue", meiryo, arial, sans-serif;

  @media (max-width: $screen-xs-max) {
    text-align: center;
  }
}

#main {
  background-color: #fff;
  padding-bottom: 0;

  @media (min-width: $screen-sm-min) {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    min-height: 100vh;
  }
}

#header {
  background-color: #eee;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  font-weight: bold;
  height: $header-height;
  line-height: $header-height;
  text-align: left;
  text-indent: 10px;

  a {
    color: #694;
    text-decoration: none;
  }

  img {
    margin: 20px;
    padding-bottom: 10px;
  }
}

#content {
  letter-spacing: 0.5px;
  line-height: 1.5px;

  a {
    text-decoration: none;

    &:link {
      color: #588f3d;
    }

    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: #456336;
    }
  }
}

#menu_title,
#article_title {
  font-size: 145%;
  font-weight: bold;
}

#menu {
  padding-bottom: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

#article {
  padding-bottom: 15px;
  padding-top: 15px;

  @media (min-width: $screen-sm-min) {
    border-left: 1px solid #ccc;
    min-height: $article-height;
    padding-left: 15px;
  }
}

#footer {
  background-color: #333;
  color: #999;
  height: $footer-height;
  line-height: $footer-height;
  text-align: center;
}
