<table border="1" cellspacing="0" cellpadding="0" style="width: 100%">
  <tbody>

    {% if include.screenshot %}
    <tr>
      <td colspan="2" style="text-align: center; padding: 10px">
        <a href="{{ include.screenshot }}" rel="lightbox" title="画像を表示" class="lightbox">
          <img src="{{ include.screenshot }}" alt="画像を表示" height="180px" border="0">
        </a>
      </td>
    </tr>
    {% endif %}

    <tr>
      <th style="width: 50%; padding: 10px">
        {% for link_data in include.links %}
        {% if forloop.first != true %}/{% endif %}
        <a href="{{ link_data.url }}" target="_blank">
          {{ link_data.text }}
        </a>
        {% endfor %}
      </th>
      <th style="width: 50%; padding: 10px">
        {% if include.develop_text %}
        {{ include.develop_text }}
        {% else %}
        開発:
        {% endif %}
        {{ include.developer }}
      </th>
    </tr>

    {% if include.depends %}
    <tr>
      <td colspan="2" style="text-align: center; padding: 10px">
        依存:
        {% for depend in include.depends %}
        {% if depend.url %}
        <a href="{{ depend.url }}" target="_blank">{{ depend.text }}</a>
        {% else %}
        {{ depend.text }}
        {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endif %}

    {% if include.depends_optional %}
    <tr>
      <td colspan="2" style="text-align: center; padding: 10px">
        任意:
        {% for depend in include.depends_optional %}
        {% if depend.url %}
        <a href="{{ depend.url }}" target="_blank">{{ depend.text }}</a>
        {% else %}
        {{ depend.text }}
        {% endif %}
        {% endfor %}
      </td>
    </tr>
    {% endif %}

    <tr>
      <td colspan="2" style="padding: 10px">
        {{ include.description }}
      </td>
    </tr>

  </tbody>
</table>
