// コンテナ
#container {
  box-sizing: border-box;

  @include media-desktop {
    border-left: $border-default;
    border-right: $border-default;
    box-shadow: $container-box-shadow;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    // IE11 ~
    display: -ms-grid;
    -ms-grid-template-columns: auto 1fr;
    -ms-grid-template-rows: auto 1fr auto;
    // ~ IE11
    margin: 0 auto;
    min-height: 100vh;
    width: 85vw;

    header {
      border-bottom: $border-default;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
      // IE11 ~
      -ms-grid-column-start: 1;
      -ms-grid-column-end: 3;
      -ms-grid-row-start: 1;
      -ms-grid-row-end: 2;
      // ~ IE11
    }

    #menu {
      border-right: $border-default;
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      // IE11 ~
      -ms-grid-column-start: 1;
      -ms-grid-column-end: 2;
      -ms-grid-row-start: 2;
      -ms-grid-row-end: 3;
      // ~ IE11
    }

    #content {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;
      // IE11 ~
      -ms-grid-column-start: 2;
      -ms-grid-column-end: 3;
      -ms-grid-row-start: 2;
      -ms-grid-row-end: 3;
      // ~ IE11
    }

    footer {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      // IE11 ~
      -ms-grid-column-start: 1;
      -ms-grid-column-end: 3;
      -ms-grid-row-start: 3;
      -ms-grid-row-end: 4;
      // ~ IE11
    }
  }

  @include media-mobile {
    margin: 0;
    width: 100vw;

    #menu {
      display: none;
    }
  }
}
