// ヘッダ
.header {
  background: $header-background;
  box-sizing: border-box;
  font-weight: bold;
  height: $header-height;
  line-height: $header-height;

  @include media-desktop {
    padding: 0 1em;
  }

  @include media-mobile {
    text-align: center;
  }
}

.header-icon {
  margin-top: $header-img-vertical-adjustment;
  vertical-align: middle;
}

.header-title {
  text-decoration: none;

  &:link,
  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: $header-link-color;
  }
}

.header-menu {
  background: transparent;
  border: none;
  display: block;
  font-size: inherit;
  height: $header-height;
  left: 0;
  object-fit: contain;
  position: absolute;
  top: 0;
  width: $header-height;

  @include media-desktop {
    display: none;
  }
}
