// ヘッダ
header {
  background: $header-background;
  box-sizing: border-box;
  font-weight: bold;
  height: $header-height;
  line-height: $header-height;

  @include media-desktop {
    padding: 0 1em;
  }

  @include media-mobile {
    box-shadow: $header-mobile-box-shadow;
    position: fixed;
    width: 100%;
    text-align: center;
    z-index: 9999;
  }

  a {
    text-decoration: none;

    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: $header-link-color;
    }

    > amp-img {
      margin-top: $header-img-vertical-adjustment;
      vertical-align: middle;
    }
  }

  button {
    background: transparent;
    border: none;
    left: 0.25em;
    object-fit: contain;
    padding: 1em;
    position: absolute;
    top: 0;

    @include media-desktop {
      display: none;
    }
  }
}
