.main {
  background: var(--main-bg);

  @include media-desktop {
    border-top: var(--main-border-topleft);
    border-left: var(--main-border-topleft);
    border-radius: var(--main-border-radius);
  }
}

.main-date {
  text-align: right;
  margin: 1em 0;

  a {
    color: var(--main-date-color);
    text-decoration: none;
	}

	a:hover {
    text-decoration: underline;
	}
}
