.main {
	background: var(--main-bg);

	@include media-desktop {
	  border-top: var(--main-border-topleft);
	  border-left: var(--main-border-topleft);
	  border-radius: var(--main-border-radius);
	}
}

.main-date {
	color: var(--main-date-color);
	text-align: right;
	margin: 1em 0;
}
