// モバイルメニュー
amp-sidebar {
  background: $mobile-menu-background;
  color: $mobile-menu-text-color;
  padding: 1em;
  text-align: center;
  width: $mobile-menu-width;

  a {
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: $mobile-menu-text-color;
    }
  }

  button {
    background: transparent;
    border: none;
    display: block;
    left: 0;
    object-fit: contain;
    padding: 1em;
    position: absolute;
    top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $mobile-menu-text-color;
  }
}

.top-button {
  opacity: $top-button-opacity;
  position: fixed;
  right: 1em;
  bottom: 1em;
}
