// モバイルメニュー
amp-sidebar {
  background: $mobile-menu-background;
  color: $mobile-menu-text-color;
  padding: 1em;
  text-align: center;
  width: 75vw;

  a {
    &:link,
    &:visited,
    &:hover,
    &:focus,
    &:active {
      color: $mobile-menu-text-color;
    }
  }

  button {
    background: transparent;
    border: none;
    display: block;
    object-fit: contain;
    padding: 0;

    amp-img {
      left: 1em;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $mobile-menu-text-color;
  }
}

.top-button {
  opacity: 0.75;
  position: fixed;
  right: 1em;
  bottom: 1em;
}
