// 基本設定
body {
  background: $background;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  margin: 0;
  word-break: keep-all;

  @include media-mobile {
    font-size: $font-size-mobile;
  }

  ::selection {
    background-color: $selection-background;
    color: $selection-font-color;
  }

  code {
    background: $code-background;
    border: $code-border;
    border-radius: $code-border-radius;
    color: $code-color;
    font-family: $code-font-family;
    overflow: auto;
    padding: $code-padding;
    word-break: break-all;
    word-wrap: break-word;
  }

  pre code {
    display: block;
  }
}
