// 基本設定
body {
  background: $background;
  color: $font-color;
  font-family: $font-family;
  font-size: $font-size;
  letter-spacing: $letter-spacing;
  line-height: $line-height;

  font-feature-settings: "palt";
  margin: 0;

  @include media-mobile {
    font-size: $font-size-mobile;
  }

  ::selection {
    background-color: $selection-background;
    color: $selection-font-color;
  }
}
