html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background: var(--bg);
  color: var(--color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  line-height: var(--line-height);

  font-feature-settings: "palt";

  @include media-mobile {
    font-size: var(--font-size-mobile);
  }

  ::selection {
    background-color: var(--selection-bg);
    color: var(--selection-color);
  }
}

a {
  text-decoration: underline;

  &:link {
    color: var(--color-link);
  }

  &:visited,
  &:hover,
  &:focus,
  &:active {
    color: var(--color-link-visited);
  }
}
