---
layout: compress
---

<!-- サイドメニューのMarkdownを読み込み、HTMLに変換 -->
{% capture menu_markdown %}{% include menu.md %}{% endcapture %}
{% assign menu = (menu_markdown | markdownify) %}

<!-- SCSSを読み込み、CSSに変換 -->
{% capture style_scss %}{% include style.scss %}{{ page.custom-style }}{% endcapture %}
{% assign style = (style_scss | scssify) %}

<!doctype html>
<html amp lang="ja">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.wiki.title }}</title>
    <link rel="alternate" hreflang="ja" href="{{ page.url }}">
    <link rel="canonical" href="{{ site.github.url }}{{ page.url }}">
    <link rel="icon" href="{{ site.github.url }}/images/icon.png">
    <meta name="description" content="フリーのサンドボックスゲーム「Minetest」の非公式Wikiです。">
    <meta name="keywords" content="minetest,マインテスト,マイテス,オープンソース,サンドボックス,サンドボックスゲーム,無料,フリー,minecraft,マインクラフト,マイクラ">
    <meta name="google-site-verification" content="SzmyhmFa1r6eafWLqLct1hOKj-Awxn0JH8r0U4PUCyc">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{-webkit-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-moz-animation:-amp-start 8s steps(1,end) 0s 1 normal both;-ms-animation:-amp-start 8s steps(1,end) 0s 1 normal both;animation:-amp-start 8s steps(1,end) 0s 1 normal both}@-webkit-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-moz-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-ms-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@-o-keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}@keyframes -amp-start{from{visibility:hidden}to{visibility:visible}}</style>
    <noscript><style amp-boilerplate>body{-webkit-animation:none;-moz-animation:none;-ms-animation:none;animation:none}</style></noscript>
    <style amp-custom>{{ style }}</style>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>
    {{ page.custom-head }}
  </head>

  <body>
    <!-- モバイルメニュー -->
    <amp-sidebar id="sidebar" side="right" layout="nodisplay">
      <button on="tap:sidebar.close">
        <amp-img
          height = "2em"
          width  = "2em"
          alt    = "閉じる"
          src="{{ site.github.url }}/images/menu_close.svg">
        </amp-img>
      </button>
      <h1>メニュー</h1>
      {{ menu }}
    </amp-sidebar>

    <!-- コンテナ -->
    <div id="container">
      <!-- ヘッダ -->
      <header>
        <!-- Wikiタイトル -->
        <a href="{{ site.github.url }}">
          <amp-img
            height = "2em"
            width  = "2em"
            alt    = ""
            src    = "{{ site.github.url }}/images/icon.svg">
          </amp-img>
          {{ site.wiki.title }}
        </a>
        <!-- モバイルメニュー表示ボタン -->
        <button on="tap:sidebar.open">
          <amp-img
            height = "1.5em"
            width  = "1.5em"
            alt    = "メニュー"
            src    = "{{ site.github.url }}/images/menu.svg">
          </amp-img>
        </button>
      </header>

      <!-- 左メニュー -->
      <nav id="menu" class="article">
        <h1 class="title">メニュー</h1>
        <div class="body">{{ menu }}</div>
      </nav>

      <!-- 本文 -->
      <article id="content" class="article">
        <h1 class="title">
          {{ page.title }}
          <a title="GitHubで編集" href="{{ site.github.repository_url }}/edit/gh-pages/{{ page.path }}">
            <amp-img
              class  = "edit"
              height = "0.75em"
              width  = "0.75em"
              alt    = "編集"
              src    = "{{ site.github.url }}/images/edit.svg"
              media  = "{{ site.media-desktop }}">
            </amp-img>
          </a>
        </h1>
        <div class="body">{{ content }}</div>
      </article>

      <!-- フッタ -->
      <footer>
        © {{ site.time | date: "%Y" }} <a href="https://minetest-jp.github.io">Minetest-JP Team</a>
      </footer>
    </div>

    <!-- コンテナの先頭にリンク -->
    <a href="#container">
      <amp-img
        class  = "top-button"
        height = "3em"
        width  = "3em"
        alt    = "TOP"
        src    = "{{ site.github.url }}/images/top.svg"
        media  = "{{ site.media-mobile }}">
      </amp-img>
    </a>
  </body>
</html>
