<meta charset="UTF-8">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<title>{{ page.title }} - {{ site.wiki_name }}</title>
<link rel="stylesheet" href="{{ site.url }}/css/default.css">

<div id="main" class="container">
  <header id="header">
    <div class="col-xs-12">
      <p><a href="{{ site.url }}">{{ site.wiki_name }}</a></p>
    </div>
  </header>

  <div id="content" class="row">
    <div id="menu" class="col-xs-3">
      <h1 style="text-align: center">メニュー</h1>
      {% include menu.html %}
    </div>
    <div id="article" class="col-xs-9">
      <article>
        <h1 style="text-align: center">{{ page.title }}</h1>
        {{ content }}
      </article>
    </div>
  </div>

  <footer id="footer">
    <p>Copyright © 2016 Minetest-JP Team. All Rights Reserved.</p>
  </footer>
</div>
